<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}

    <h1>Test Page</h1>
    <p>We're testing some script stuff.</p>

  </body>  
</html>
