<h1>Welcome to Meadowlark Travel</h1>

<p>Greetings, dear person from  <b>{{ ipAddress }}</b> running <b>{{ userAgent }}</b>!</p>

<p>Questions?  Check out our <a href="/about" data-test-id="about">About Us</a> page!</p>

<h3>
<a href="/newsletter-signup">Newsletter Signup</a> | 
<a href="/newsletter-fetchapi-signup">Newsletter Signup via Fetch API</a> | 
<a href="/vacation-photo">Post Vacation Photos to Contest</a>
</h3>

<h2>Weather</h2>
{{> weather}}
